body {
  background-color: rgb(240, 240, 240);
  font-family: "Proza Libre", sans-serif;
}

.purple {
  background-color: rgb(86, 43, 129);
  margin-bottom: -20px;
  font-family: sans-serif;
  color: white;
  font-size: 1.2rem;
  padding-left: 30px;
}

h2 {
  font-size: 2rem;
}

.entries-page {
  padding: 20px 40px;
}

.form-box {
  padding: 20px;
  font-weight: 600;
}

.image {
  display: flex;
  justify-content: center;
}

#modal-div {
  position: fixed;
  right: 150px;
  bottom: 250px;
  padding: 20px 10px 10px;
  height: 150px;
  background-color: white;
  border-radius: 8px;
  border: none;
  box-shadow: 2px 2px 2px gray;
}

.modal-text {
  padding-bottom: 30px;
}

#cancel-button {
  background-color: #b6b6b6;
  border: none;
  border-radius: 5px;
  height: 30px;
  margin-left: 5px;
  cursor: pointer;
  width: 90px;
  font-weight: 600;
}

#confirm-button {
  float: right;
  background-color: #dc2626;
  color: white;
  border: none;
  border-radius: 5px;
  height: 30px;
  margin-right: 5px;
  cursor: pointer;
  width: 90px;
  font-weight: 600;
}

.placeholder,
.saved-photo {
  height: 350px;
  width: 100%;
}

.title-input,
.description-text {
  height: 200px;
  margin-top: -30px;
}

.input-text {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  resize: none;
  border: 0.12rem solid;
  border-color: rgb(184, 184, 184);
  border-radius: 8px;
  outline-color: rgb(86, 43, 129);
}

.notes-section {
  margin-top: -70px;
}

#save-button {
  float: right;
  width: 90px;
  height: 36px;
  border-color: rgb(86, 43, 129);
  background-color: rgb(86, 43, 129);
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  border-style: none;
  text-align: center;
  vertical-align: center;
  cursor: pointer;
}

#red-button {
  border: none;
  color: red;
  text-decoration: underline;
  margin-top: 18px;
  cursor: pointer;
  font-size: 1rem;
}

#new-button {
  float: right;
  width: 90px;
  height: 36px;
  border-color: rgb(86, 43, 129);
  background-color: rgb(86, 43, 129);
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  border-style: none;
  text-align: center;
  vertical-align: center;
  padding-top: 10px;
  margin-right: 20px;
  text-decoration: none;
  cursor: pointer;
}

.bottom-section {
  margin-bottom: 80px;
}

.journal-form {
  position: relative;
}

.journal-entries {
  list-style: none;
}

.saved-photo {
  max-width: 332px;
  align-items: center;
}

.name-title,
.saved-text {
  padding-right: 80px;
}

.smaller-text {
  font-size: 1rem;
  padding-left: 25px;
}

#entry-button {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.no-entries {
  padding-bottom: 700px;
  padding-top: 80px;
  text-align: center;
}

.no-entries-hidden {
  padding-bottom: 700px;
  padding-top: 80px;
  text-align: center;
  display: none;
}

.fa-pencil,
.pencil-button {
  color: rgb(86, 43, 129);
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  background:
    linear-gradient(
      rgba(33, 32, 32, 0.8),
      rgb(33, 32, 32, 0.8)
    );
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.code-journal {
  font-family: "Proza Libre", sans-serif;
  font-size: 1.4rem;
  font-weight: 200;
}

@media screen and (min-width: 768px) {
  .title-input {
    margin-top: 90px;
    margin-left: -50px;
    margin-right: 50px;
  }

  #modal-div {
    position: absolute;
    right: 275px;
    bottom: 400px;
    padding: 20px 10px 10px;
    height: 150px;
    background-color: white;
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 2px gray;
  }

  .placeholder,
  .saved-photo {
    max-width: 332px;
  }

  .code-journal {
    font-family: "Proza Libre", sans-serif;
    font-size: 1.3rem;
    font-weight: 200;
  }

  .form-box {
    padding-right: 50px;
  }

  .bottom-section {
    padding-right: 50px;
  }

  .notes-section {
    padding-top: 40px;
  }
}
